<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">

<style layout:fragment="style">
/* CSS Start !! */

    .card-body{
        cursor: pointer;
    }

	.searchGroup{
		width: 200px !important;
		min-width: 180px;
	}

	.searchInput{
		border-radius: 0 !important;
	}

	div#pokeType .col{
		padding-right: 6px;
		padding-left: 6px;
	}
</style>

<div layout:fragment="content" class="container-fluid">
<!-- HTML Start !! -->	
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">List</h1>
        <a th:href="@{/404}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
        </a>
    </div>
    
    <!-- Search -->
	<div class="input-group mb-3 searchGroup">
		<input type="text" class="form-control" id="searchInput" placeholder="search..." aria-label="search..." aria-describedby="button-addon2">
		<button class="btn btn-outline-secondary bg-light border-0" type="button" id="searchBtn">
			<i class="fas fa-search"></i>
		</button>
	</div>

	<div class="row" id="dataTable">

    </div>

</div>

<script layout:fragment="script">
// JS Start !!

$(()=>{

	const $searchBar = $("#content #searchInput");
	const $searchBtn = $("#content #searchBtn");
	const $dataTable = $("#content #dataTable");

    let isScroll;
	let keyword = "";
    let page = 1;
	let totalContents = 0;
	let numPerPage;

	// 온로드 함수
    getPokeList();

	// 이벤트 핸들링

	// 검색 버튼 클릭
	$searchBtn.on("click",()=>{
		console.log("1");
		// 리스트 초기화
		$dataTable.html("");

		// 페이징 초기화
		page = 1;
		totalContents = 0;

		// 검색어 대입
		keyword = $searchBar.val();

		// 검색 api 호출
		getPokeList();
	});

	// 데이터 리스트 조회
    function getPokeList(){

		// 파라미터 값 대입
        let data = {
            page : page,
			keyword : keyword,
			totalContents : totalContents
        }

		// 비동기 데이터 조회
        $.ajax({
            url: "/api/poke/list",
            type: "GET",  
            dataType: "json",
            data: data,
            success: (data) => {

				console.log(data);

                let html = "";

				// page 재설정
				totalContents = data.page.totalContents;

                data.list.forEach(i => {

                    html += '<div class="col-xl-2 col-md-4 col-sm-6 mb-4 fade-in">';
                    html += '<div class="card border-bottom-danger shadow h-100 py-2">';
                    html += '<div class="card-body">';
                    html += '<input type="hidden" value="' +i.MON_ID + '">';
                    html += '<img class="img-fluid" src="/assets/img/mon/' + i.MON_ID + '.png" alt="">';
                    html += '<div class="row no-gutters align-items-center">';
                    html += '<div class="col mr-2">';
                    html += '<div class="text-s font-weight-bold text-danger text-uppercase mb-1">';
                    html += 'No.' + i.MON_NO;
                    html += '</div>';
                    html += '<div class="h5 mb-0 font-weight-bold text-gray-800">' + i.MON_NAME + '</div>';

                    html += '<div class="row align-items-center" id="pokeType">'
                    html += '<div class="col"><span class="font-weight-bold btn active btn-block btn-sm text-light" ' + getColor(i.TYPE_A) + '>' + i.TYPE_A + '</span></div>';

                    if(i.TYPE_B !== undefined){
                    	html += '<div class="col"><span class="font-weight-bold btn btn-block btn-sm active text-light"' + getColor(i.TYPE_B) + '>' + i.TYPE_B + '</span></div>';
                    } else {
                    	html += '<div class="col"><span class="font-weight-bold btn btn-block btn-sm active text-light"></span></div>';
                    }

                    html += '</div>';
                    html += '</div></div></div></div></div>';

                });

                $dataTable.append(html);

                $(".card-body").on("click",(e)=>{
                    var $e = $(e.target);
                    var monNo = $e.parents(".card").find("input[type=hidden]").val();
                    viewPoke(monNo);
                });

            },
            complete: () => {

                
            },
            error: (e) => {
                // 요청 실패
                console.log(e);
            }
        });
    }

    function viewPoke(id){
        console.log(id);
    }

    $(window).scroll((event) => {
        isScroll = true;
    });

    setInterval(() => {
        if (isScroll) {
            scrollPage();
            isScroll = false;
        }
    }, 200);

    function scrollPage() {
        if ($(window).scrollTop() >= $(document).height() - $(window).height()) {

			var cardCnt = $dataTable.find(".card-body").length;

			if(cardCnt < totalContents){
				page++;
				getPokeList();
			}

        }
    }

});

</script>

</html>