<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">

<style layout:fragment="style">
/* CSS Start !! */

#page{
    width: 400px;
}

</style>

<div layout:fragment="content">
    <!-- HTML Start !! -->
    
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Sign in</h1>
        <a th:href="@{/404}" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
        </a>
    </div>
    
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Sign in</h1>
                </div>

                <form class="user" id="signin-form">

                    <!-- 아이디 -->
                    <div class="form-group">
                        <input type="text" class="form-control form-control-user" id="user-id" placeholder="ID">
                    </div>

                    <!-- 비밀번호 -->
                    <div class="form-group">
                        <input type="password" class="form-control form-control-user" id="password" placeholder="Password">
                    </div>

                    <!-- 아이디 저장 -->
                    <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                            <input type="checkbox" class="custom-control-input" id="customCheck">
                            <label class="custom-control-label" for="customCheck">Remember Me</label>
                        </div>
                    </div>

                    <!-- 요청 버튼 -->
                    <a class="btn btn-dark btn-user btn-block text-light">
                        Login
                    </a>
                </form>

                <hr>

                <div class="text-center">
                    <a class="small" th:href="@{/404}">Forgot Password?</a>
                </div>
                <div class="text-center">
                    <a class="small" th:href="@{/user/signup}">Create an Account!</a>
                </div>
            </div>
        </div>
    </div>

</div>
    


<script layout:fragment="script">
// JS Start !!
$(() => {


$("form#signin-form a").click(() => {

    var userId = $("#signin-form #user-id").val();
    var password = $("#signin-form #password").val();

    var form = {
        userId: userId,
        password: password
    }

    console.log(form);

    $.ajax({

        url: "/api/user/signin",
        type: "post",
        dataType: "json",
        data: form,
        success: (data) => {
            console.log(data);
            location.replace('/');
        },
        complete: () => {
        },
        error: (e, x, c) => {

            msgModal("Error Message", "로그인 실패");

        }

    });

});

});
</script>

</html>