<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">

<style layout:fragment="style">
/* CSS Start !! */

#page{
    width: 400px;
}


</style>


<div layout:fragment="content">
    <!-- HTML Start !! -->
    
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Sign up</h1>
        <a th:href="@{/404}" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
        </a>
    </div>

        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="p-5">

                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Sign up</h1>
                    </div>

                    <form class="user" id="signup-form">

                        <!-- 아이디 -->
                        <div class="form-group">
                            <input type="email" class="form-control form-control-user" id="user-id" placeholder="ID">
                        </div>

                        <!-- 이름 -->
                        <div class="form-group">
                            <input type="email" class="form-control form-control-user" id="user-name" placeholder="Name">
                        </div>

                        <div class="form-group row">

                        <!-- 비밀번호 -->
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="password" class="form-control form-control-user" id="password" placeholder="Password">
                            </div>

                        <!-- 비밀번호 확인 -->
                            <div class="col-sm-6">
                                <input type="password" class="form-control form-control-user" id="password-check" placeholder="Repeat Password">
                            </div>

                        </div>

                        <!-- 등록 버튼 -->
                        <a class="btn btn-info btn-user btn-block text-light">
                            Register Account
                        </a>

                    </form>

                    <hr>
                    <div class="text-center">
                        <a class="small" th:href="@{/404}">Forgot Password?</a>
                    </div>
                    <div class="text-center">
                        <a class="small" th:href="@{/signin}">Already have an account? Login!</a>
                    </div>
                </div>
            </div>
        </div>

</div>

<script layout:fragment="script">
// JS Start !!
$(()=>{
    
    const $form = $("form#signup-form");

    setModal('Alert','회원가입을 진행 ?','signup-modal');

    // 회원가입 요청
    $("#signup-modal #modal-ok").on("click",()=>{

        $.ajax({
            url: "/api/user/signup",
            type: "post",
            dataType: "json",
            data: {
                userId: $form.find("#user-id").val(),
                userName: $form.find("#user-name").val(),
                password: $form.find("#password").val()
            },
            success: (data) => {
                location.replace('/');
            },
            complete: () => {
            },
            error: (e, x, c) => {
                console.log(e, x, c);
                msgModal("Error Message", "회원가입 실패");
            }
        });

    });

    // 회원가입 전처리
    $form.find("a").click(()=>{
        
        var userId = $form.find("#user-id").val();
        var userName = $form.find("#user-name").val();
        var password = $form.find("#password").val();
        var passwordCk = $form.find("#password-check").val();

        if(password !== passwordCk){
            msgModal("Error","서로 다른 비밀번호");
            return;
        }

        showModal('signup-modal');
        
    });
});
</script>

</html>