<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="head">

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- 아이콘 -->
    <link th:href="@{/assets/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    
    <!-- Custom styles for this template-->
    <link th:href="@{/assets/css/sb-admin-2.min.css}" rel="stylesheet">
    
    <link th:href="@{/assets/css/animista.css}" rel="stylesheet" type="text/css" >
    <link th:href="@{/assets/css/common.css}" rel="stylesheet" type="text/css" >

    <!-- Summernote -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">

    <!-- 웹소켓 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script th:src="@{/assets/js/websocket.js}"></script>

</th:block>

</html>