<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<script th:fragment="script">
// 공통 스크립트

// 컨텐츠 루트 
const $cont = $("div#wrapper div#content-wrapper div#content");

$(()=>{

    $("#logoutBtn").on("click", ()=>{

        $.ajax({
            url : '/api/user/signout',
            type : 'post',
            success : ()=>{
                location.replace("/");
            },
            error : (e)=>{
                msgModal("Error Message", "로그아웃 실패");
            }

        });

    });


});
</script>

</html>