<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="poke">

<!-- ##################################################### -->
<!-- 						SELECT 						   -->
<!-- ##################################################### -->

	<select id="searchPokeByKeyword" parameterType="map" resultType="map">
	
		select * from tb_pokemon
		where 
			mon_id &lt; 49500 and substring(mon_id, 6) = 1
			<if test="!keyword.isEmpty()"> 
				and mon_name like  '%${keyword}%'
			</if>
	</select>

<!-- ##################################################### -->
<!-- 						INSERT 						   -->
<!-- ##################################################### -->



<!-- ##################################################### -->
<!-- 						UPDATE 						   -->
<!-- ##################################################### -->



<!-- ##################################################### -->
<!-- 						DELETE 						   -->
<!-- ##################################################### -->


</mapper>