<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="poke">

<!-- ##################################################### -->
<!-- 						SELECT 						   -->
<!-- ##################################################### -->

	<select id="searchPokeByKeyword" parameterType="map" resultType="map">
	
		SELECT * FROM tb_pokemon
		WHERE 
			mon_id &lt; 49500 
			AND substring(mon_id, 6) = 1
			
			<if test="!keyword.isEmpty()"> 
				AND mon_name LIKE  '%${keyword}%'
			</if>
	</select>

	<select id="countPokeByKeword" parameterType="map" resultType="_int">
	
		SELECT COUNT(*) FROM tb_pokemon
		WHERE 
			mon_id &lt; 49500 
			AND substring(mon_id, 6) = 1
			
			<if test="!keyword.isEmpty()"> 
				AND mon_name LIKE  '%${keyword}%'
			</if>
	
	</select>

<!-- ##################################################### -->
<!-- 						INSERT 						   -->
<!-- ##################################################### -->



<!-- ##################################################### -->
<!-- 						UPDATE 						   -->
<!-- ##################################################### -->



<!-- ##################################################### -->
<!-- 						DELETE 						   -->
<!-- ##################################################### -->


</mapper>